<table id = "satTable">
    <tr class="header-row">
        <th (click)="sort('name')" class="sortable">Name</th>
        <th (click)="sort('type')" class="sortable">Type</th>
        <th>Operational</th>
        <th>Orbit Type</th>
        <th>Launch Date</th>
    </tr>
    <tr class="data-row" *ngFor = "let each of satellites">
        <td>{{each.name}}</td>
        <td [class.warning]="each.isSpaceDebris()">{{each.type}}</td>
        <td>{{each.operational}}</td>
        <td>{{each.orbitType}}</td>
        <td>{{each.launchDate}}</td>
        
    </tr>
</table>

<!-- TODO 2b: use *ngFor to display satellite data in the table -->
<!-- TODO 3b: add style directive to conditionally highlight satellite type -->

